#landing {
    height: 100%;
    background: {
        image: url("/assets/images/adam-chang-231299-unsplash.jpg");
        size: cover;
        position: center;
    };

    > * {
        height: 100%;
    }
}
