@import "../../shared/styles/shared";

#sign-in {
    display: flex;
    align-items: center;

    .container {
        justify-content: flex-end;

        #sign-in-form {
            width: em(300);
            background-color: var(--color-bg-light);
            padding: em(20);
            text-align: center;
            max-width: 100%;
            border: {
                radius: em(8);
            }
        }
    }
}
