@import "~normalize.css";

html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
    height: 100%;

    > div {
        height: 100%;
        min-height: 100%;
    }
}

.container {
    max-width: 100%;
    width: 1200px;
    display: flex;
    margin: auto;
    padding: {
        right: 15px;
        left: 15px;
    };
}
